@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbars for autocomplete dropdown list */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: rgba(31, 41, 55, 0.3);
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.3);
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.5);
}
